/* ################################################################ */
/* ################################################################ */
/* ################################################################ */
/* TABLE OF CONTENTS */
/* ################################################################ */
/* ################################################################ */
/* ################################################################ */
/* 
1.0 Printing section
2.0 All generic CSS
3.0 Input 
3.1.a Birthday
3.2.a Graduation
3.3.a Farewell
4.0 Mobile */


/* ################################################################ */
/* 1.0 THIS SECTION IS NO LONGER RELEVANT */
/* ################################################################ */

/* CSS for the things we want to print (print view) */
@media only screen {
    .reactContainerPrint{
        display: none;
    }
}

/* CSS for the things we DO NOT want to print (web view) */

@media print {
    html, body {
       /* border: 1px solid white; */
       height: 95%;
       page-break-after: avoid !important;
       page-break-before: avoid !important;
       background: white;
    }
    .screenView,
    .screenView * {
      display: none !important;
    }
    .screenView,
    .screenView * {
      visibility: hidden !important;
    }
    .printView,
    .printView * {
      visibility: visible !important;
    }
    .printView {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      margin-top: 0px;
    }
  
  }
/* ################################################################ */
/* 2.0 ALL CSS GOES BELOW */
/* ################################################################ */


body {
    background: #c5d3db;
    margin: 0;
}

body * {
    font-family: 'Montserrat', sans-serif;
}

.reactContainer {
    display: flex;
    flex-direction: column;
}

.reactContainerMain {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

/* ################################################################ */
/* 3.0 ALL INPUT HERE */
/* ################################################################ */

.reactInput {
    width: 275px;
    background: #2a3039;
    color: #dedfe0;
    padding: 1rem;
}

.reactInput input,
.reactInput textarea {
    font-size: 0.85rem;
}

.reactInput p {
    padding: 0;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}


/* ################################################################ */
/* ################################################################ */
/* 3.1 ALL OUTPUT BIRTHDAY HERE */
/* ################################################################ */
/* ################################################################ */

.reactOutputBday {
    margin-top: 2rem;
    width: 80%;
    /* padding: 4rem; */
    height: 80vh;
    padding: 5%;
    /* max-width: 1000px; */
}

/* ################################################################ */
/* 3.1.a BIRTHDAY 1 
/* ################################################################ */

.reactOutputBdayInner {
    /* border: 2px solid black; */
    height: 42vw;
    max-width: 1000px;
    width: 60vw;
    margin: 0 auto;
    background: #1c2143;
    background: url("https://images.unsplash.com/photo-1464347601390-25e2842a37f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1985&q=80");
    background-repeat: no-repeat;
    background-size: auto 42vw;
    color: #f0cf76;
    border-radius: 0.5rem;
    text-align: center;
    overflow: hidden;
}

.reactOutputBdayInner div {
    margin: 8%;
}

.reactOutputBdayInner img {
    width: 40%;
    height: auto;
}

.reactOutputBdayInner p {
    font-size: 2vw;
    color: #5b839b;
}

.outputBdayMessage {
}

.outputBdayMessage h2 {
    font-weight: 700;
    text-transform: uppercase;
}
.outputBdayTo {
    text-transform: uppercase;
}

.outputBdayFrom p {
    font-family: cursive;
}

/* ################################################################ */
/* 3.1.b BIRTHDAY 2
/* ################################################################ */

.reactOutputBdayInner2 {
    /* border: 2px solid black; */
    height: 42vw;
    max-width: 1000px;
    width: 60vw;
    margin: 0 auto;
    background: #1c2143;
    background: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: auto 42vw;
    color: #f0cf76;
    border-radius: 0.5rem;
    text-align: center;
    overflow: hidden;
}

.reactOutputBdayInner2 div {
    margin: 8%;
}

.reactOutputBdayInner2 img {
    width: 40%;
    height: auto;
}

.reactOutputBdayInner2 p {
    font-size: 2vw;
    color: #5b839b;
}

.outputBdayMessage2 {
}

.outputBdayMessage2 h2 {
    font-weight: 700;
    text-transform: uppercase;
}
.outputBdayTo2 p {
    font-family: cursive;
}

/* ################################################################ */
/* ################################################################ */
/* 3.2 ALL OUTPUT GRADUATION HERE */
/* ################################################################ */
/* ################################################################ */

.reactOutputGrad {
    margin-top: 2rem;
    width: 80%;
    /* padding: 4rem; */
    height: 80vh;
    padding: 5%;
    /* max-width: 1000px; */
}

/* ################################################################ */
/* 3.2.a GRADUATION 1 */
/* ################################################################ */
.reactOutputGradInner {
    /* border: 2px solid black; */
    height: 42vw;
    max-width: 1000px;
    width: 60vw;
    margin: 0 auto;
    background: #1c2143;
    background: url("https://images.unsplash.com/photo-1566125618135-8063e23d8e4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
    background-repeat: no-repeat;
    background-size: auto 42vw;
    color: #f0cf76;
    border-radius: 0.35rem;
    text-align: center;
    overflow: hidden;
}

.reactOutputGradInner div {
    margin: 8%;
}

.reactOutputGradInner img {
    width: 40%;
    height: auto;
}

.reactOutputGradInner p {
    font-size: 2vw;
    color: #5b839b;
}

.outputGradMessage {
}

.outputGradMessage h2 {
    font-weight: 700;
    text-transform: uppercase;
}

.outputGradTo {
    text-transform: uppercase;
}

/* ################################################################ */
/* 3.2.b GRADUATION 2 */
/* ################################################################ */



.reactOutputGradInner2 {
    /* border: 2px solid black; */
    height: 42vw;
    max-width: 1000px;
    width: 60vw;
    margin: 0 auto;
    background: #1c2143;
    background: url("https://images.unsplash.com/photo-1531686264889-56fdcabd163f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: auto 42vw;
    color: #f0cf76;
    border-radius: 0.35rem;
    text-align: center;
    overflow: hidden;
}


.reactOutputGradInner2 div {
    margin: 8%;
}

.reactOutputGradInner2 img {
    width: 40%;
    height: auto;
}

.reactOutputGradInner2 p {
    font-size: 2vw;
    color: #5b839b;
}

.outputGradMessage2 {
}

.outputGradMessage2 h2 {
    font-weight: 700;
    text-transform: uppercase;
}

.outputGradTo2 {
    text-transform: uppercase;
}

/* ################################################################ */
/* ################################################################ */
/* 3.3 ALL OUTPUT FAREWELL HERE */
/* ################################################################ */
/* ################################################################ */

.reactOutputFw {
    margin-top: 2rem;
    width: 80%;
    /* padding: 4rem; */
    height: 80vh;
    padding: 5%;
    /* max-width: 1000px; */
}

/* ################################################################ */
/* 3.3.a FAREWELL 1 */
/* ################################################################ */

.reactOutputFwInner {
    /* border: 2px solid black; */
    height: 42vw;
    max-width: 1000px;
    width: 60vw;
    margin: 0 auto;
    background: #1c2143;
    background: url("https://images.unsplash.com/photo-1529268209110-62be1d87fe75?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: auto 42vw;
    color: #f0cf76;
    border-radius: 0.35rem;
    text-align: center;
    overflow: hidden;
}

.reactOutputFwInner div {
    margin: 8%;
}

.reactOutputFwInner img {
    width: 40%;
    height: auto;
}

.reactOutputFwInner p {
    font-size: 2vw;
    color: #5b839b;
}

.outputFwMessage {
}

.outputFwMessage h2 {
    font-weight: 700;
    text-transform: uppercase;
}

.outputFwTo {
    text-transform: uppercase;
}

/* ################################################################ */
/* 3.3.b FAREWELL 2 */
/* ################################################################ */

.reactOutputFwInner2 {
    /* border: 2px solid black; */
    height: 42vw;
    max-width: 1000px;
    width: 60vw;
    margin: 0 auto;
    background: #1c2143;
    background: url("https://images.unsplash.com/photo-1549301019-6013533c514d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1656&q=80");
    background-repeat: no-repeat;
    background-size: auto 42vw;
    color: #f0cf76;
    border-radius: 0.35rem;
    text-align: center;
    overflow: hidden;
}

.reactOutputFwInner2 div {
    margin: 8%;
}

.reactOutputFwInner2 img {
    width: 40%;
    height: auto;
}

.reactOutputFwInner2 p {
    font-size: 2vw;
    color: #5b839b;
}

.outputFwMessage2 {
}

.outputFwMessage2 h2 {
    font-weight: 700;
    text-transform: uppercase;
}

.outputFwTo2 {
    text-transform: uppercase;
}

/* ################################################################ */
/* 3.3.c FAREWELL 3 */
/* ################################################################ */


.reactOutputFwInner3 {
    /* border: 2px solid black; */
    height: 42vw;
    max-width: 1000px;
    width: 60vw;
    margin: 0 auto;
    background: #1c2143;
    background: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: auto 42vw;
    color: #f0cf76;
    border-radius: 0.35rem;
    text-align: center;
    overflow: hidden;
}

.reactOutputFwInner3 div {
    margin: 8%;
}

.reactOutputFwInner3 img {
    width: 40%;
    height: auto;
}

.reactOutputFwInner3 p {
    font-size: 2vw;
    color: #5b839b;
}

.outputFwMessage3 {
}

.outputFwMessage3 h2 {
    font-weight: 700;
    text-transform: uppercase;
}

.outputFwTo3 {
    text-transform: uppercase;
}

/* ################################################################ */
/* 4.0 MOBILE RESPONSIVE */
/* ################################################################ */

@media screen and (max-width: 992px){
    .reactOutput{
        /* background: red; */
    }
}

@media screen and (max-width: 768px){
    .reactContainerMain {
        display: flex;
        flex-flow: column;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .reactInput{
        width: 100vw;
        display: flex;
        flex-flow: row wrap;
    }
    .reactInput h1, p {
        /* font-size: 10px; */
    }
    .reactOutput{
        /* background: green; */
        margin: 0 auto;
        padding: 0;
        height: 65vh;
    }
}

/* ################################################################ */
/* END */
/* ################################################################ */