/* // Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

body {
    // background-color: grey;

}

body * {
    font-family: 'Montserrat', sans-serif;
}

// ###########################################################
// BEFORE LOGIN  
// ###########################################################
// HOME PAGE
// ###########################################################
// lp = landing page

.lp-top-cont {
	display: flex;
	margin: 2rem;
}

// ###########################################################
// AFTER LOGIN
// ###########################################################
// HOME PAGE 
// ###########################################################

.indexTopHolder {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1564066379977-b0434d31d697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
    // background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 0.5rem;
    width: 100%;
    margin: 2rem 0;
}

.indexTopHolder div:first-child {
    margin: 4rem 0 2.5rem 0;
}

.indexTopHolder div:last-child {
    margin: 1.5rem 0 4rem 0;
}

.createContainer {
    display: flex;
    overflow-x: scroll;
    text-align: center;
}

.createContainer input {
    width: 13rem;    
    height: auto;
    margin: 1rem;
    border-radius: 0.5rem;
}

#searchBar input {
    text-align: center;
}

.createContainer div {
    border-radius: 1rem;
}

.indexCardTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.indexTitle{
    letter-spacing: 0px;
}

.indexHeaders {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.indexHeaders h6 {
    padding-left: 0.7rem;
    transform: translate(0, 0.15rem)
}

.indexAllDesigns a {
    &:visited {
        color: black;
    }
}

.designContainer {
    display: flex;
    overflow-x: scroll;
    text-align: center;
}

.indexCardWrap {
    width: 13rem;
    height: auto;
    margin: 1rem;
    border-radius: 0.5rem;
}

// ###########################################################
// INDEX PAGE 
// ###########################################################

.containerCardIndex {
   display: flex; 
   flex-flow: row wrap;
}

.eachCardIndex {
    border-radius: 1rem;
    width: 25%;
    height: auto;
    background: lightgrey;
    margin: 2rem;
}

// ###########################################################
// END
// ###########################################################

