/* // Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

body {
    // background-color: grey;
}

// ###########################################################
// BEFORE LOGIN  
// ###########################################################
// HOME PAGE
// ###########################################################
// lp = landing page

.lp-top-cont {
	display: flex;
	margin: 2rem;
}

// ###########################################################
// AFTER LOGIN
// ###########################################################
// HOME PAGE 
// ###########################################################

.createContainer {
    display: flex;
    flex-flow: row wrap;
}

.createContainer input {
    width: 8rem;    
    height: auto;
    margin: 1rem;
}

// ###########################################################
// INDEX PAGE 
// ###########################################################

.containerCardIndex {
   display: flex; 
   flex-flow: row wrap;
}

.eachCardIndex {
    border-radius: 1rem;
    width: 25%;
    height: auto;
    background: lightgrey;
    margin: 2rem;
}

// ###########################################################
// END
// ###########################################################

