/* // Place all the styles related to the Moments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

body {
    // background-color: grey;

}

body * {
    font-family: 'Montserrat', sans-serif;
}

// ###########################################################
// BEFORE LOGIN  
// ###########################################################
// HOME PAGE
// ###########################################################
// lp = landing page

.lp-top-cont {
	display: flex;
	margin: 2rem;
}

// ###########################################################
// AFTER LOGIN
// ###########################################################
// HOME PAGE 
// ###########################################################

.indexTopHolder {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1564066379977-b0434d31d697?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
    // background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 0.5rem;
    width: 100%;
    margin: 2rem 0;
}

.indexTopHolder div:first-child {
    margin: 4rem 0 2.5rem 0;
}

.indexTopHolder div:last-child {
    margin: 1.5rem 0 4rem 0;
}

.createContainer {
    display: flex;
    overflow-x: scroll;
    text-align: center;
}

.createContainer input {
    width: 13rem;    
    height: auto;
    margin: 1rem;
    border-radius: 0.5rem;
}

#searchBar input {
    text-align: center;
}

.createContainer div {
    border-radius: 1rem;
}

.indexCardTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.indexTitle{
    letter-spacing: 0px;
}

.indexHeaders {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.indexHeaders h6 {
    padding-left: 0.7rem;
    transform: translate(0, 0.15rem)
}

.indexAllDesigns a {
    &:visited {
        color: black;
    }
}

.designContainer {
    display: flex;
    overflow-x: scroll;
    text-align: center;
}

.indexCardWrap {
    width: 13rem;
    height: auto;
    margin: 1rem;
    border-radius: 0.5rem;
}

.indexCardWrap2 {
    width: 13rem;
    height: auto;
    margin: 1rem;
    border-radius: 0.5rem;
    background: url('https://images.unsplash.com/photo-1563291074-2bf8677ac0e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=702&q=80');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


// ###########################################################
// SEARCH BAR - INDEX PAGE 
// ###########################################################
.search {
    
    &__title {
        font-size: 22px;
        text-align: center;
        color: #ffffff;
    }
    
    &__input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #ffffff;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        &::placeholder {
            color: color(#ffffff a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
    }
}

// ###########################################################
// INDEX PAGE 
// ###########################################################

.containerCardIndex {
   display: flex; 
   flex-flow: row wrap;
}

.eachCardIndex {
    border-radius: 1rem;
    width: 25%;
    height: auto;
    background: lightgrey;
    margin: 2rem;
    background: url('https://images.unsplash.com/photo-1563291074-2bf8677ac0e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=702&q=80');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

// ###########################################################
// END
// ###########################################################