<h1>New Moment</h1>


<%= render 'form', moment: @moment %> 


<%
=begin%>
 <%= javascript_pack_tag 'hello_react' %>
<%= stylesheet_pack_tag 'hello_react' %>  
<%
=end%>


<%= link_to 'Back', moments_path %>
